<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.mobilesorcery.sdk.ui.main"
            class="com.mobilesorcery.sdk.profiles.ui.internal.ProfilesView"
            icon="icons/viewicon.png"
            id="com.mobilesorcery.sdk.profiles.ui.view"
            name="Device Profiles">
      </view>
   </extension>

</plugin>
