<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               class="com.mobilesorcery.sdk.update.internal.preferences.ProfileUpdatesPreferencePage"
               id="com.mobilesorcery.sdk.preferences.updates"
               name="Profile Updates"
               category="com.mobilesorcery.sdk.preferences.main">
         </page>
      </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.mobilesorcery.sdk.update.internal.preferences.ProfileUpdatesPreferenceInitializer">
      </initializer>
   </extension>
         <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.mobilesorcery.sdk.update.actionset"
            label="Updates"
            visible="true">
         ...
         <action
               class="com.mobilesorcery.sdk.update.internal.UpdateProfilesAction"
               id="com.mobilesorcery.sdk.update"
               label="Update MoSync Profile Database"
               menubarPath="help/helpStart">
         </action>
      </actionSet>      
      <actionSet
            id="com.mobilesorcery.sdk.update.register"
            label="Registration"
            visible="true">
         ...
         <action
               class="com.mobilesorcery.sdk.update.internal.RegistrationAction"
               id="com.mobilesorcery.sdk.registration"
               label="Register"
               menubarPath="help/helpStart">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <editor
            id="com.mobilesorcery.ui.registration.editor"
            name="MoSync Registration" icon="icons/registrationperspective.png"
            class="com.mobilesorcery.sdk.update.internal.RegistrationWebBrowserEditor"
            default="false" />
   </extension>
         <extension
               point="com.mobilesorcery.sdk.updater">
            <updater
                  id="com.mobilesorcery.sdk.update.default"
                  implementation="com.mobilesorcery.sdk.update.internal.DefaultUpdater2">
            </updater>
         </extension>
         <extension
               point="org.eclipse.ui.perspectives">
           <perspective
            id="com.mobilesorcery.update.perspective"
            name="MoSync Registration"
            class="com.mobilesorcery.sdk.update.internal.RegistrationPerspectiveFactory"
            icon="icons/registrationperspective.png">
        </perspective>
         </extension>
      
</plugin>
