<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.mobilesorcery.sdk.importproject.category.mosync"
            name="MoSync">
      </category>
      <wizard
            category="com.mobilesorcery.sdk.importproject.category.mosync"
            class="com.mobilesorcery.sdk.importproject.MoSyncExternalProjectImportWizard"
            icon="icons/mosync_project.png"
            id="com.mobilesorcery.sdk.importproject.wizard"
            name="Existing MoSync project into workspace">
      </wizard> 
      <wizard
            category="org.eclipse.ui.Basic"
            class="com.mobilesorcery.sdk.importproject.MoSyncExternalProjectImportWizard"
            icon="icons/mosync_project.png"
            id="com.mobilesorcery.sdk.importproject.wizard"
            name="Existing MoSync project into workspace">
      </wizard>      
   </extension>
   <extension point="org.eclipse.ui.newWizards">
         <wizard
            category="com.mobilesorcery.wizard.category"
            class="com.mobilesorcery.sdk.importproject.OldMoBuildProjectImportWizard"
            finalPerspective="com.mobilesorcery.ui.perspective"
            icon="icons/mosync_project_wizard.png"
            id="com.mobilesorcery.sdk.importproject.new.wizard"
            name="Import Legacy MoSync Project into workspace"
            project="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.ide.activity"
            isEqualityPattern="false"
            pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.import\.ExternalProject.*">
      </activityPatternBinding>
     <category
            id="com.mobilesorcery.sdk.ui.ide.category"
            name="MoSync-disabled Basic Eclipse IDE UI elements">
      </category>
      <activity
            id="com.mobilesorcery.sdk.ui.ide.activity"
            name="MoSync-disabled Basic Eclipse IDE UI elements">
      </activity>
      <categoryActivityBinding
            activityId="com.mobilesorcery.sdk.ui.ide.activity"
            categoryId="com.mobilesorcery.sdk.ui.ide.category">
      </categoryActivityBinding>
   </extension>

</plugin>
