<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
        <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.mobilesorcery.sdk.ui.targetphone"
            label="Target Phone Actions"
            visible="false">
         <action
               class="com.mobilesorcery.sdk.ui.targetphone.internal.SelectTargetPhoneAction"
               icon="icons/search_mobile.png"
               id="com.mobilesorcery.sdk.ui.targetphone.select"
               label="Select Target Device"
               style="pulldown"
               toolbarPath="targetphone">
         </action>

         <action
               class="com.mobilesorcery.sdk.ui.targetphone.internal.SendToTargetPhoneAction"
               icon="icons/send.png"
               id="com.mobilesorcery.sdk.ui.targetphone.send"
               label="Send To Target Device"
               toolbarPath="targetphone">
         </action>
        
      </actionSet>
   </extension>

</plugin>
