<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mobilesorcery.core.packagers">
      <packager
      		id="com.mobilesorcery.sdk.build.winmobilecs.packager"
            implementation="com.mobilesorcery.sdk.builder.winmobilecs.WinMobileCSPackager"
            pattern="^profiles[/|\\]runtimes[/|\\]winphone.*"
            platform="Windows Phone">
      </packager>
   </extension>
            <extension
            point="com.mobilesorcery.core.launcher">
         <launcher
               id="com.mobilesorcery.sdk.builder.winmobilecs.launcher"
               implementation="com.mobilesorcery.sdk.builder.winmobilecs.launch.WindowsPhoneEmulatorLauncher">
         </launcher>
      </extension>
</plugin>
