<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mobilesorcery.sdk.targetphonetransports">
      <transport
            icon="icons/ios.png"
            id="ios"
            implementation="com.mobilesorcery.sdk.ui.targetphone.iphoneos.IPhoneOSTargetPhoneTransport">
      </transport>
   </extension>

</plugin>
