<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mobilesorcery.core.packagers">
      <packager
            implementation="com.mobilesorcery.sdk.builder.moblin.MoblinPackager"
            pattern="^profiles\\runtimes\\moblin.*">
      </packager>
   </extension>
</plugin>
