<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
     <extension
            point="com.mobilesorcery.sdk.build.steps">
         <factory
               id="com.mobilesorcery.sdk.molint"
               implementation="com.mobilesorcery.sdk.molint.MolintBuildStepExtension">
         </factory>
      </extension>
            <extension
            point="org.eclipse.ui.preferencePages">     
         <page
               category="com.mobilesorcery.sdk.preferences.main"
               class="com.mobilesorcery.sdk.molint.ui.internal.MolintPreferencePage"
               id="com.mobilesorcery.sdk.molint"
               name="MoLint">
         </page>
         </extension>
</plugin>
