<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.mobilesorcery.core.packagers">
      <packager
            implementation="com.mobilesorcery.sdk.builder.winmobile.WinMobilePackager"
            pattern="^profiles[/|\\]runtimes[/|\\]wm.*|^profiles[/|\\]runtimes[/|\\]sp2003[/|\\].*">
      </packager>
   </extension>

</plugin>
