<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
 <!--     <extension point="org.eclipse.wst.jsdt.ui.JsGlobalScopeContainerPage">
  	  <JsGlobalScopeContainerPage
            name="JoSync Library"
            class="com.mobilesorcery.sdk.html5.ui.jsdt.JoSyncLibraryWizardPage"
            id="com.mobilesorcery.sdk.html5.josync">
      </JsGlobalScopeContainerPage>
   </extension>
      
   <extension point="org.eclipse.wst.jsdt.ui.JsGlobalScopeUIInitializer">
     <JsGlobalScopeUIInitializer
     	id="com.mobilesorcery.sdk.html5.josync"
     	class="com.mobilesorcery.sdk.html5.ui.jsdt.JoSyncUiInitializer">
     </JsGlobalScopeUIInitializer>
   </extension>-->
     <extension
           point="com.mobilesorcery.sdk.templates.type.extension">
        <templateextension
              configurer="com.mobilesorcery.sdk.html5.wizards.HTML5TemplateExtension"
              image="icons/HTML5_Logo_64.png"
              name="HTML5"
              type="html5">
        </templateextension>
     </extension>
           <extension
            point="org.eclipse.ui.preferencePages">
         <page
               category="com.mobilesorcery.sdk.preferences.main"
               class="com.mobilesorcery.sdk.html5.ui.internal.preferences.JavaScriptOnDeviceDebugPreferencePage"
               id="com.mobilesorcery.sdk.html5.jsodd"
               name="JavaScript On-Device Debug">
         </page>
         </extension>
         
              
        <extension
         point="org.eclipse.ui.activities">
     <!-- We have our own evaluate action -->
     <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.html5.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.wst.jsdt.debug.ui/org.eclipse.wst.jsdt.debug.ui.jsunit.popup.evaluate">
      </activityPatternBinding>
           <category
            id="com.mobilesorcery.sdk.ui.html5.category"
            name="MoSync-disabled JavaScript UI elements">
      </category>
      <activity
            id="com.mobilesorcery.sdk.ui.html5.activity"
            name="MoSync-disabled JavaScript UI elements">
      </activity>
      <categoryActivityBinding
            activityId="com.mobilesorcery.sdk.ui.html5.activity"
            categoryId="com.mobilesorcery.sdk.ui.html5.category">
      </categoryActivityBinding>
      </extension>
</plugin>
