<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
 <!--     <extension point="org.eclipse.wst.jsdt.ui.JsGlobalScopeContainerPage">
  	  <JsGlobalScopeContainerPage
            name="JoSync Library"
            class="com.mobilesorcery.sdk.html5.ui.jsdt.JoSyncLibraryWizardPage"
            id="com.mobilesorcery.sdk.html5.josync">
      </JsGlobalScopeContainerPage>
   </extension>
      
   <extension point="org.eclipse.wst.jsdt.ui.JsGlobalScopeUIInitializer">
     <JsGlobalScopeUIInitializer
     	id="com.mobilesorcery.sdk.html5.josync"
     	class="com.mobilesorcery.sdk.html5.ui.jsdt.JoSyncUiInitializer">
     </JsGlobalScopeUIInitializer>
   </extension>-->
     <extension
           point="com.mobilesorcery.sdk.templates.type.extension">
        <templateextension
              configurer="com.mobilesorcery.sdk.html5.wizards.HTML5TemplateExtension"
              image="icons/HTML5_Logo_64.png"
              name="HTML5"
              type="html5">
        </templateextension>
     </extension>
           <extension
            point="org.eclipse.ui.preferencePages">
         <page
               category="com.mobilesorcery.sdk.preferences.main"
               class="com.mobilesorcery.sdk.html5.ui.internal.preferences.JavaScriptOnDeviceDebugPreferencePage"
               id="com.mobilesorcery.sdk.html5.jsodd"
               name="JavaScript On-Device Debug">
         </page>
         </extension>
      <extension
            point="org.eclipse.ui.menus">
             <menuContribution
               locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                  commandId="com.mobilesorcery.sdk.html5.evaluate"
                  label="Evaluate JavaScript"
                  style="push"
                  tooltip="Evalutate selected JavaScript">
               <visibleWhen
                     checkEnabled="true">
                     <test property="com.mobilesorcery.sdk.html5.canEvaluate"/>
                                      </visibleWhen>
            </command>
            </menuContribution>
                         <menuContribution
               locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                  commandId="com.mobilesorcery.sdk.html5.enable.debugger"
                  label="Enable JavaScript Debugging"
                  style="push"
                  tooltip="Enables JavaScript Debugging for this project">
               <visibleWhen
                     checkEnabled="true">
                     <test property="com.mobilesorcery.sdk.html5.canEnableDebugging"/>
                                      </visibleWhen>
            </command>
            </menuContribution>
            
                         <menuContribution
               locationURI="toolbar:org.eclipse.debug.ui.main.toolbar?after=threadGroup">
            <command
                  commandId="com.mobilesorcery.sdk.html5.reload"
                  label="Refresh On-Device JavaScript"
                  style="push"
                  tooltip="Refreshes and Restarts the currently running On-Device JavaScript"
                  icon="icons/refresh.gif">
               <visibleWhen
                     checkEnabled="false">
               <with variable="activeWorkbenchWindow.activePerspective">
                  <equals value="org.eclipse.debug.ui.DebugPerspective"/>
               </with>
                </visibleWhen>
            </command>
            </menuContribution>
                                    <menuContribution
               locationURI="org.eclipse.ui.popup.any?after=additions">
            <command
                  commandId="com.mobilesorcery.sdk.html5.reload"
                  label="Refresh On-Device JavaScript"
                  style="push"
                  tooltip="Refreshes and Restarts the currently running On-Device JavaScript"
                  icon="icons/refresh.gif">
               <visibleWhen
                     checkEnabled="true">
                </visibleWhen>
            </command>
            </menuContribution>
      </extension>
            <extension point="org.eclipse.ui.bindings">
  <key
        commandId="com.mobilesorcery.sdk.html5.evaluate"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="M1+M3+E">
  </key>
    <key
        commandId="com.mobilesorcery.sdk.html5.reload"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="M1+M2+R">
  </key>
</extension>
        <extension
         point="org.eclipse.ui.activities">
     <!-- We have our own evaluate action -->
     <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.html5.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.wst.jsdt.debug.ui/org.eclipse.wst.jsdt.debug.ui.jsunit.popup.evaluate">
      </activityPatternBinding>
           <category
            id="com.mobilesorcery.sdk.ui.html5.category"
            name="MoSync-disabled JavaScript UI elements">
      </category>
      <activity
            id="com.mobilesorcery.sdk.ui.html5.activity"
            name="MoSync-disabled JavaScript UI elements">
      </activity>
      <categoryActivityBinding
            activityId="com.mobilesorcery.sdk.ui.html5.activity"
            categoryId="com.mobilesorcery.sdk.ui.html5.category">
      </categoryActivityBinding>
      </extension>
</plugin>
