<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="MoSync Application Profiling"
            icon="icons/profiling.png"
            allowMultiple="false"
            category="com.mobilesorcery.sdk.ui.main"
            class="com.mobilesorcery.sdk.profiling.ui.views.ProfilingView"
            id="com.mobilesorcery.sdk.profiling.ui.profiling">
      </view>
   </extension>
      <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      
      <launchConfigurationTypeImage
            configTypeID="com.mobilesorcery.profiling.launchconfigurationtype"
            icon="icons/profiling.png"
            id="com.mobilesorcery.launchconfigurationtype.profiling.image"/>
   </extension>
   
  <extension point="org.eclipse.ui.activities">
    <activity id="com.mobilesorcery.profiling"
      description="MoSync Profiling"
   name="MoSync Profiling" />
  
     <categoryActivityBinding activityId="com.mobilesorcery.profiling"
   categoryId="com.mobilesorcery.activities.experimental" />
   
   <activityPatternBinding activityId="com.mobilesorcery.profiling"
   pattern="com\.mobilesorcery\.sdk\.profiling\.ui/.*" />
   
   
   <activityPatternBinding activityId="com.mobilesorcery.profiling"
   pattern="com\.mobilesorcery\.sdk\.profiling/.*" />
   
  </extension> 
</plugin>
