<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="false"
            pattern="org\.eclipse\.cdt\.debug\.core/org\.eclipse\.cdt\.launch.*">
      </activityPatternBinding>
            <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="false"
            pattern="org\.eclipse\.cdt\.debug\.ui/org\.eclipse\.cdt\.launch.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.debug.ui/org.eclipse.cdt.debug.ui.localCShortcut">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.debug.ui/org.eclipse.cdt.ui.wizardse.ImportExecutableWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="false"
            pattern="org\.eclipse\.cdt\.debug\.ui/org\.eclipse\.cdt\.ui\.manageConfigsAction.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.CPerspective">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.newCWizards">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.wizards.NewFileCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.wizards.NewClassCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.wizards.NewCWizard1">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.wizards.NewCWizard2">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.buildConfigActionSet">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.buildConfigContributionM">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.ui.wizards.ConvertToMakeWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.importWizardCategory">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.managedbuilder/org.eclipse.cdt.ui.wizards.NewMakeFromExisting">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui.wizards.ConvertToMakeWizard">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.projectSettingsImportWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.ui.wizards.NewMakeFromExisting">
      </activityPatternBinding>
      
      <!-- TODO: Move this to some other place perhaps? -->
    <activityPatternBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.equinox\.p2\.ui\.sdk\.update">
      </activityPatternBinding>
     
     <category
            id="com.mobilesorcery.sdk.ui.cdt.category"
            name="MoSync-disabled CDT UI elements">
      </category>
      <activity
            id="com.mobilesorcery.sdk.ui.cdt.activity"
            name="MoSync-disabled CDT UI elements">
      </activity>
      <categoryActivityBinding
            activityId="com.mobilesorcery.sdk.ui.cdt.activity"
            categoryId="com.mobilesorcery.sdk.ui.cdt.category">
      </categoryActivityBinding>
   </extension>

</plugin>
