<!DOCTYPE html>

<html>
<head>
<style type="text/css">
body: {
	font-size: 1em;
}
a: {
    font-size: 1em;
}
</style>
</head>
<body>
<b>MoSync Projects</b><br/>
%project-count% project(s)
<hr/>
%project-list%
</body>
</html>
