<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="MoSync IDE [RCP] Target Definition">
<locations>
<location id="org.eclipse.rcp" path="${eclipse_home}" type="Feature"/>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.6.1.M20100909-0800"/>
<unit id="org.eclipse.platform.sdk" version="3.6.1.M20100909-0800"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.6.1.r361_v20100827-9OArFLdFjY-ThSQXmKvKz0_T"/>
<unit id="org.eclipse.rcp.feature.group" version="3.6.1.r361_v20100827-9OArFLdFjY-ThSQXmKvKz0_T"/>
<unit id="org.eclipse.sdk.ide" version="3.6.1.M20100909-0800"/>
<unit id="org.eclipse.releng.tools.feature.group" version="3.3.0.v20100427-44A77w31211642"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.6"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.cdt.feature.group" version="7.0.1.201009241320"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="7.0.1.201009241320"/>
<unit id="org.eclipse.cdt.examples.dsf.feature.group" version="2.1.0.201009241320"/>
<unit id="org.eclipse.cdt.platform.feature.group" version="7.0.1.201009241320"/>
<unit id="org.eclipse.cdt.gnu.debug.feature.group" version="7.0.1.201009241320"/>
<unit id="org.eclipse.cdt.debug.edc.feature.group" version="1.0.0.201009241320"/>
<repository location="http://download.eclipse.org/tools/cdt/releases/helios"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.0.595-dev-e36"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.0.0.595-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.0.595-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.0.595-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
</locations>
</target>
