<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="MoSync IDE [RCP] Target Definition" sequenceNumber="4">
<locations>
<location id="org.eclipse.rcp" path="${eclipse_home}" type="Feature"/>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.7.0.I20110613-1736"/>
<unit id="org.eclipse.platform.sdk" version="3.7.0.I20110613-1736"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.7.0.v20110216-9DB5Fm1FpBGy_AaVz-mFamgY"/>
<unit id="org.eclipse.rcp.feature.group" version="3.7.0.v20110216-9DB5Fm1FpBGy_AaVz-mFamgY"/>
<unit id="org.eclipse.sdk.ide" version="3.7.0.I20110613-1736"/>
<unit id="org.eclipse.pde.api.tools.ee.osgiminimum12.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.cdcfoundation11.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.javase16.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.osgiminimum10.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.osgiminimum11.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.j2se15.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.jre11.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.j2se14.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.fragments.feature.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.j2se13.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.cdcfoundation10.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.releng.tools.feature.group" version="3.4.100.v20110503-45-7w31221634"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.cdt.feature.group" version="8.0.0.201106081058"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="8.0.0.201106081058"/>
<unit id="org.eclipse.cdt.core.lrparser.feature.feature.group" version="5.2.0.201106081058"/>
<unit id="org.eclipse.cdt.xlc.feature.feature.group" version="6.1.0.201106081058"/>
<unit id="org.eclipse.cdt.gnu.dsf.feature.group" version="4.0.0.201106081058"/>
<unit id="org.eclipse.cdt.msw.feature.group" version="1.0.0.201106081058"/>
<unit id="org.eclipse.cdt.build.crossgcc.feature.group" version="1.0.0.201106081058"/>
<unit id="org.eclipse.cdt.debug.ui.memory.feature.group" version="2.1.100.201106081058"/>
<unit id="org.eclipse.cdt.launch.remote.feature.group" version="6.0.0.201106081058"/>
<unit id="org.eclipse.cdt.gnu.build.feature.group" version="8.0.0.201106081058"/>
<unit id="org.eclipse.cdt.debug.gdbjtag.feature.group" version="7.0.0.201106081058"/>
<unit id="org.eclipse.cdt.examples.dsf.feature.group" version="2.1.0.201106081058"/>
<unit id="org.eclipse.cdt.platform.feature.group" version="8.0.0.201106081058"/>
<unit id="org.eclipse.cdt.xlc.sdk.feature.group" version="6.1.0.201106081058"/>
<unit id="org.eclipse.cdt.debug.edc.feature.group" version="2.0.0.201106081058"/>
<unit id="org.eclipse.cdt.gnu.debug.feature.group" version="7.1.0.201106081058"/>
<unit id="org.eclipse.cdt.bupc.feature.group" version="1.0.3.201106081058"/>
<unit id="org.eclipse.cdt.util.feature.group" version="5.1.0.201106081058"/>
<unit id="org.eclipse.tm.tcf.feature.feature.group" version="0.4.0.201106081058"/>
<unit id="org.eclipse.cdt.core.parser.upc.feature.feature.group" version="5.1.0.201106081058"/>
<unit id="org.eclipse.cdt.p2.feature.group" version="1.0.0.201106081058"/>
<unit id="org.eclipse.cdt.core.lrparser.sdk.feature.group" version="5.2.0.201106081058"/>
<unit id="org.eclipse.cdt.core.parser.upc.sdk.feature.group" version="5.1.0.201106081058"/>
<repository location="http://download.eclipse.org/tools/cdt/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
</locations>
</target>
