<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
            point="com.mobilesorcery.sdk.build.steps">
         <factory
               id="com.mobilesorcery.sdk.extensionsupport"
               implementation="com.mobilesorcery.sdk.extensionsupport.ExtensionSupportBuildStepExtension">
         </factory>
      </extension>
      <extension
            point="com.mobilesorcery.sdk.ui.buildstepeditor">
         <editor
               id="com.mobilesorcery.sdk.extensionsupport"
               implementation="com.mobilesorcery.sdk.extensionsupport.ui.ExtensionSupportBuildStepEditor">
         </editor>
      </extension>

           <extension
           point="com.mobilesorcery.sdk.templates.type.extension">
        <templateextension
              configurer="com.mobilesorcery.sdk.extensionsupport.wizards.ExtensionTemplateExtension"
              image="icons/extension.png"
              name="Extension"
              type="ext">
        </templateextension>
     </extension>
           <extension
            point="org.eclipse.ui.preferencePages">
         <page
               class="com.mobilesorcery.sdk.extensions.ExtensionsPreferencePage"
               category="com.mobilesorcery.sdk.preferences.main"
               id="com.mobilesorcery.sdk.extensions.preferences"
               name="Extensions">
         </page>
    </extension>
</plugin>
