<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.mobilesorcery.core.packagers" name="Packager" schema="schema/com.mobilesorcery.core.packager.exsd"/>
   <extension-point id="com.mobilesorcery.core.propertyinitializers" name="Property Initializer" schema="schema/com.mobilesorcery.core.propertyinitializers.exsd"/>
   <extension-point id="com.mobilesorcery.sdk.updater" name="Auto Updater" schema="schema/com.mobilesorcery.sdk.updater.exsd"/>
   <extension-point id="com.mobilesorcery.core.buildconfigurationtypes" name="Build Configuration Types" schema="schema/com.mobilesorcery.core.buildconfigurationtypes.exsd"/>
   <extension-point id="com.mobilesorcery.sdk.core.filter.factories" name="Device Filter Factories" schema="schema/com.mobilesorcery.sdk.core.filter.factories.exsd"/>
   <extension-point id="com.mobilesorcery.core.launcher" name="Launcher" schema="schema/com.mobilesorcery.core.launcher.exsd"/>
   <extension-point id="com.mobilesorcery.sdk.templates.type.extension" name="MoSync Project Template Extension" schema="schema/com.mobilesorcery.sdk.templates.type.extension.exsd"/>

   <extension
         id="builder"
         name="MoSync Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="false">
         <run
               class="com.mobilesorcery.sdk.core.MoSyncBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="nature"
         name="MoSync Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.mobilesorcery.sdk.core.MoSyncNature">
         </run>
      </runtime>
      <builder
            id="com.mobilesorcery.sdk.core.builder">
      </builder>
   </extension>

     <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.mobilesorcery.sdk.internal.launch.EmulatorLaunchConfigurationDelegate"
            id="com.mobilesorcery.launchconfigurationtype"
            modes="run,debug"
            name="MoSync Emulated App"/>
   </extension>   



   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.mobilesorcery.sdk.internal.MoSyncNatureTester"
            id="com.mobilesorcery.sdk.testers.hasMoreNature"
            namespace="com.mobilesorcery.sdk.testers"
            properties="hasMoreNature"
            type="java.lang.Object"/>
      <propertyTester
            class="com.mobilesorcery.sdk.internal.SupportsBuildConfigurationTester"
            id="com.mobilesorcery.sdk.testers.supportsBuildConfiguration"
            namespace="com.mobilesorcery.sdk.testers"
            properties="supportsBuildConfigurations,config-type,config-id"
            type="java.lang.Object"/>
       <propertyTester
            class="com.mobilesorcery.sdk.internal.IsExcludableFromBuildTester"
            id="com.mobilesorcery.sdk.testers.isExcludableFromBuild"
            namespace="com.mobilesorcery.sdk.testers"
            properties="isExcludableFromBuild"
            type="java.lang.Object"/>
       <propertyTester
            class="com.mobilesorcery.sdk.internal.OSTester"
            id="com.mobilesorcery.sdk.testers.os"
            namespace="com.mobilesorcery.sdk.testers"
            properties="os-regexp,os-family"
            type="java.lang.Object"/>
       <propertyTester
             class="com.mobilesorcery.sdk.core.IsExperimentalTester"
             id="com.mobilesorcery.sdk.testers.isExperimental"
             namespace="com.mobilesorcery.sdk.testers"
             properties="isExperimental"
             type="java.lang.Object">
       </propertyTester>
       <propertyTester
             class="com.mobilesorcery.sdk.core.IsReleasePackageTester"
             id="com.mobilesorcery.sdk.testers.releasepackage"
             namespace="com.mobilesorcery.sdk.testers"
             properties="isReleasePackage"
             type="java.lang.Object">
       </propertyTester>
   </extension>
   

<extension
      point="org.eclipse.cdt.core.PathEntryContainerInitializer">
            <pathEntryContainerInitializer
            class="com.mobilesorcery.sdk.internal.cdt.MoSyncPathInitializer"
            id="com.mobilesorcery.mosync.includepaths">
      </pathEntryContainerInitializer>      
</extension>
      
   <extension point=
"org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="com.mobilesorcery.sdk.ui.projectexplorer.filter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>
   <extension
         point="com.mobilesorcery.core.propertyinitializers">
      <initializer
            class="com.mobilesorcery.sdk.internal.builder.BuildPropertiesInitializerDelegate"
            context="com.mobilesorcery.sdk.mosync.project.context"
            id="com.mobilesorcery.sdk.builder.initializer"
            prefix="build.prefs">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="com.mobilesorcery.sdk.internal.launch.NonTerminableProcessFactory"
            id="com.mobilesorcery.sdk.builder.nonterminableprocessfactory">
      </processFactory>
   </extension>
   <extension
         point="org.eclipse.team.core.ignore">
      <ignore
            enabled="true"
            pattern=".mosyncproject.*">
      </ignore>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Default disablement of CDT specific UI elements"
            id="com.mobilesorcery.sdk.core.activity"
            name="MoSync Default Activity">
      </activity>
      <defaultEnablement
            id="com.mobilesorcery.sdk.core.activity">
      </defaultEnablement>
      <activityPatternBinding
            activityId="com.mobilesorcery.sdk.core.activity"
            isEqualityPattern="false"
            pattern=".*org\.eclipse\.cdt.*">
      </activityPatternBinding>
      <category
            description="MoSync Default Activity"
            id="com.mobilesorcery.sdk.core.activity.category"
            name="MoSync Default Activity">
      </category>
      <categoryActivityBinding
            activityId="com.mobilesorcery.sdk.core.activity"
            categoryId="com.mobilesorcery.sdk.core.activity.category">
      </categoryActivityBinding>
   </extension>
      <extension
 point="org.eclipse.ui.preferencePages">
<page        
   category="org.eclipse.ui.preferencePages.Workbench"
   name="Capabilities"
   id="org.eclipse.sdk.capabilities"
   class="org.eclipse.ui.activities.ActivitiesPreferencePage"/>
</extension>-->
</plugin>
