<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mobilesorcery.core.packagers">
               <packager
            implementation="com.mobilesorcery.sdk.builder.android.AndroidPackager"
            pattern="^profiles\\runtimes\\android.*">
      </packager>
   </extension>
          <extension
             point="org.eclipse.ui.propertyPages">
          <page
                category="com.mobilesorcery.sdk.ui.properties.project"
                class="com.mobilesorcery.sdk.builder.android.ui.properties.AndroidSigningPropertyPage"
                id="com.mobilesorcery.sdk.builder.android.selfsigning"
                objectClass="org.eclipse.core.resources.IProject"
                name="Android Signing">
                                <enabledWhen>
                                   <test
                                         forcePluginActivation="true"
                                         property="com.mobilesorcery.sdk.testers.hasMoreNature">
                                   </test>
                                </enabledWhen>                
          </page>          
       </extension>
       <extension
             point="com.mobilesorcery.core.propertyinitializers">
          <initializer
                class="com.mobilesorcery.sdk.builder.android.PropertyInitializer"
                context="com.mobilesorcery.sdk.mosync.project.context"
                id="com.mobilesorcery.sdk.builder.android.initializer"
                prefix="android">
          </initializer>
       </extension>
          <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.mobilesorcery.sdk.preferences.main"
            class="com.mobilesorcery.sdk.builder.android.ui.preferences.AndroidSigningPreferencePage"
            id="com.mobilesorcery.sdk.builder.android.preferences"
            name="Android Signing">
      </page>
   </extension>
      <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.mobilesorcery.sdk.builder.android.PropertyInitializer">
      </initializer>
   </extension>
</plugin>
