<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.mobilesorcery.core.packagers">
               <packager
            implementation="com.mobilesorcery.sdk.builder.android.AndroidPackager"
            pattern="^profiles[/|\\]runtimes[/|\\]android.*"
            id="com.mobilesorcery.sdk.build.android.packager"
            platform="Android">
      </packager>
   </extension>
          <extension
             point="org.eclipse.ui.propertyPages">
          <page
                category="com.mobilesorcery.sdk.ui.properties.project"
                class="com.mobilesorcery.sdk.builder.android.ui.properties.AndroidPropertyPage"
                id="com.mobilesorcery.sdk.ui.properties.android"
                objectClass="org.eclipse.core.resources.IProject"
                name="Android">
                                <enabledWhen>
                                   <test
                                         forcePluginActivation="true"
                                         property="com.mobilesorcery.sdk.testers.hasMoreNature">
                                   </test>
                                </enabledWhen>                
          </page>          
          <page
                category="com.mobilesorcery.sdk.ui.properties.android"
                class="com.mobilesorcery.sdk.builder.android.ui.properties.AndroidSigningPropertyPage"
                id="com.mobilesorcery.sdk.builder.android.selfsigning"
                objectClass="org.eclipse.core.resources.IProject"
                name="Signing">
                                <enabledWhen>
                                   <test
                                         forcePluginActivation="true"
                                         property="com.mobilesorcery.sdk.testers.hasMoreNature">
                                   </test>
                                </enabledWhen>                
          </page>          
       </extension>
       <extension
             point="com.mobilesorcery.core.propertyinitializers">
          <initializer
                class="com.mobilesorcery.sdk.builder.android.PropertyInitializer"
                context="com.mobilesorcery.sdk.mosync.project.context"
                id="com.mobilesorcery.sdk.builder.android.initializer"
                prefix="android">
          </initializer>
       </extension>
          <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.mobilesorcery.sdk.preferences.main"
            class="com.mobilesorcery.sdk.builder.android.ui.preferences.AndroidPreferencePage"
            id="com.mobilesorcery.sdk.builder.android.preferences"
            name="Android">
      </page>      
      <page
            category="com.mobilesorcery.sdk.builder.android.preferences"
            class="com.mobilesorcery.sdk.builder.android.ui.preferences.AndroidSigningPreferencePage"
            id="com.mobilesorcery.sdk.builder.android.preferences.signing"
            name="Android Signing">
      </page>
            <page
            category="com.mobilesorcery.sdk.builder.android.preferences"
            class="com.mobilesorcery.sdk.builder.android.ui.preferences.AndroidSDKPreferencePage"
            id="com.mobilesorcery.sdk.builder.android.preferences.sdk"
            name="Android SDK">
      </page>
   </extension>
      <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.mobilesorcery.sdk.builder.android.PropertyInitializer">
      </initializer>
   </extension>
      <extension
            point="com.mobilesorcery.sdk.ui.launcher">
         <launcherpart
               launcher="com.mobilesorcery.sdk.builder.android.launcher"
               part="com.mobilesorcery.sdk.builder.android.launch.AndroidEmulatorLauncherPart">
         </launcherpart>
      </extension>
      <extension
            point="com.mobilesorcery.core.launcher">
         <launcher
               id="com.mobilesorcery.sdk.builder.android.launcher"
               implementation="com.mobilesorcery.sdk.builder.android.launch.AndroidEmulatorLauncher">
         </launcher>
      </extension>
      
         <extension
         point="com.mobilesorcery.sdk.targetphonetransports">
      <transport
            icon="icons/droid.png"
            id="android"
            implementation="com.mobilesorcery.sdk.ui.targetphone.android.AndroidTargetPhoneTransport">
      </transport>
   </extension>
</plugin>
