<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- <extension
      point="org.eclipse.wst.jsdt.core.JsGlobalScopeContainerInitializer">
      <JsGlobalScopeContainerInitializer
            class="com.mobilesorcery.sdk.html5.libraries.JoSyncLibInitializer"
            id="com.mobilesorcery.sdk.html5.library.josync">
      </JsGlobalScopeContainerInitializer>
   </extension>
-->
<!-- This is to make sure Reload works properly -->
<extension point="org.eclipse.ui.startup">
  <startup
        class="com.mobilesorcery.sdk.html5.EarlyStartup"/>
</extension>
     <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.mobilesorcery.sdk.html5.debug.ReloadLaunchConfigurationDelegate"
            id="com.mobilesorcery.html5.reload.launchconfigurationtype"
            modes="run,debug"
            name="Reload App"/>
            <launchConfigurationType
            delegate="com.mobilesorcery.sdk.html5.debug.JSODDLaunchConfigurationDelegate"
            id="com.mobilesorcery.html5.jsodd.launchconfigurationtype"
            modes="run,debug"
            name="JavaScript On-Device Debug"
            sourceLocatorId="com.mobilesorcery.sdk.html5.debug.sourceLocator"
            sourcePathComputerId="com.mobilesorcery.sdk.html5.debug.source.path.computer"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="com.mobilesorcery.sdk.html5.debug.JSODDSourceDirector"
            id="com.mobilesorcery.sdk.html5.debug.sourceLocator"
            name="JavaScript On-Device Debug Source Lookup">
      </sourceLocator>
   </extension>
     <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.mobilesorcery.sdk.html5.debug.ReloadLaunchConfigurationTabGroup"
            id="com.mobilesorcery.reload.launchconfigurationtabgroup"
            type="com.mobilesorcery.html5.reload.launchconfigurationtype"/>
            <launchConfigurationTabGroup
            class="com.mobilesorcery.sdk.html5.debug.JSODDLaunchConfigurationTabGroup"
            id="com.mobilesorcery.jsodd.launchconfigurationtabgroup"
            type="com.mobilesorcery.html5.jsodd.launchconfigurationtype"/>
     </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="com.mobilesorcery.sdk.html5.debug.JSODDSourcePathComputer"
            id="com.mobilesorcery.sdk.html5.debug.source.path.computer">
      </sourcePathComputer>
   </extension>
      <extension
         point="org.eclipse.wst.jsdt.debug.core.launchingConnectors">
      <connector
            class="com.mobilesorcery.sdk.html5.debug.jsdt.ReloadListeningConnector"
            id="reload.listening.connector">
      </connector>
   </extension>
      <extension
         point="org.eclipse.wst.jsdt.debug.core.breakpointParticipants">
      <participant
            class="com.mobilesorcery.sdk.html5.debug.jsdt.ReloadBreakpointParticipant"
            kind="*">
      </participant>
   </extension>
      <extension
            point="com.mobilesorcery.sdk.build.steps">
         <factory
               id="com.mobilesorcery.sdk.html5.debugsupport"
               implementation="com.mobilesorcery.sdk.html5.HTML5DebugSupportBuildStepExtension">
         </factory>
      </extension>
</plugin>
