<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.mobilesorcery.sdk.builder.headless"
         name="Headless Build"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="main"
            visible="true">
         <run
               class="com.mobilesorcery.sdk.builder.app.HeadlessBuild">
         </run>
      </application>
   </extension>

</plugin>
